{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
         {{ category.description|truncatewords:155}}
     {% else %}
          welcome to xyz store
     {% endif %}
{% endblock %}
{% block title %}
{% if category %}
      {{ category.name }}-XYZ store
    {% else %}
        See Our New Collections
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
<div>
  <div class="row my_row_class">
      <div class="mx-auto">
    <p><a href="{% url 'shop_app:allProdCat' %}"> All products has discount are available</a></p>
      </div>
  </div>
</div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img  class="my_image " src="{{category.img.url}}" alt="{{category.name}}" width="139" height="680">
</div>
   <br>
<div>
       <h1 class="text-center my_title">{{category.name}}</h1>
       <p class="text-justify">{{category.desc}}</p>
</div>
   {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/new collection.png' %}" alt="our products" width="1250" height="350">
    </div>

<br>
<div class=>
    <h1 class="text-center my_title"> our product sellzz</h1>
    <p class="text-justify my-title"> New collection and new trends of cloths , organic fruits and vegetables are available.Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
</div>
{% endif %}
<div class="container">
    <div class="row gy-3">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                 <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.img.url}}" alt="{{product.name}}" width="500" height="400"></a>
                <div class="card-body h-100">
                     <h4>{{product.name}}</h4>
                     <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="max-auto">
    {% if products.paginator.num_pages > 1 %}

   <hr>
    <div class="text-center">
        {% for pg in products.paginator.page_range %}
         <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
        {% endfor %}
    </div>
        {% endif %}
    </div>
    <br>
</div>



{% endblock %}
